.hero{
    display: flex;
    height: 65vh;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctnInfo{
    width: 40%;
    padding: var(--space);
    position: relative;
}
.btnList{
    position: absolute;
    bottom: 0;
    left: 0;
    width:37.5%;
    display: flex;
}

.btnList button{
    width: 50%;
    height: 60px;
    border: none;
    font-size: 1.2em;
    background-color: black;
    color: white;
    font-weight: lighter;
}

.btnList button:hover{
    cursor: pointer;
    background-color: color-mix(in srgb, black, transparent 20%);
}

.ctnInfo p{
    max-width: 400px;
}

.ctnInfo .title{
    font-size: 2em;
}

.swiper{
    width: 60%;
}

.link-shop{
    letter-spacing: 4px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.link-shop:hover{
    color: lightgray;
}

@media screen and (max-width:1190px) {
    .ctnInfo p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5; /* Nombre de lignes souhaité */
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:1125px) {
    .ctnInfo p{
        -webkit-line-clamp: 3; /* Nombre de lignes souhaité */
    }
    
}

@media screen and (max-width:830px) {
    .swiper,.ctnInfo{
        width: 50%;
    }
}

@media screen and (max-width:830px) {
    .hero{
        flex-direction: column;
        height: auto;
    }
    .swiper,.ctnInfo{
        width: 100%;
    }
    .ctnInfo p{
        display: block;
    }
    .btnList{
        bottom: 101.5%;
        left: 70%;
        z-index: 2;
        width: 30%;
    }
}
@media screen and (max-width:620px) {
    .ctnInfo{
        padding: 30px 20px;
    }
    .ctnInfo p{
        max-width: 100%;
    }
}


@media screen and (max-width:330px) {
    .btnList{
        bottom: 101%;
    }
}